<div class="container">
  <div class="jumbotron">
      <!--<h1 class="display-4">{{nuevoJuego.nombre}}</h1>-->
      <br>
        <div class="row">
      
          <div class="col 6">
            <div id ="quiwn">
              <h3 class="margin">Quién Soy?</h3>
              <img src="./././assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
              <h3>Ariel Zamora</h3>
            </div>
          </div>
          <div class="col 6">
            <h3 class="margin">Descripcion del juego</h3>
            <h2>Memoria Numerica:</h2>
            <p>El juego consiste en memorizar un numero entre cualquiera de los 3 numeros que se muestra</p>
            <p>La aplicacion dara a conocer el resultado ,si fue correcto o no por medio de un mensaje</p>
          </div>

        </div>

  </div>
  </div>
    
