<!--<ul class="nav nav-pills nav-justified">
  <li class="active"><a routerLink="/Principal">Ir a inicio</a></li>
  <li><a (click)="TraerTodos()">Todos los jugadores</a></li>
  <li><a (click)="TraerGanadores()">Los ganadores</a></li>
  <li><a (click)="TraerPerdedores()">Los perdedores</a></li>
</ul>-->



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">usuario</th>
      <th scope="col">gano</th>
      <th scope="col">puntaje</th>
      <th scope="col">juego</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado" >
      <td >{{jugador.usuario}} </td>
      <td>{{jugador.gano}} </td> 
      <td>{{jugador.puntaje}} </td> 
      <td>{{jugador.juego}} </td> 
      
    </tr>
   
  </tbody>
</table>