<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item ">
              <div class="row">
                  <div class="col">
                        <div class="card" style="width: 16rem;">
                                <a routerLink="/Juegos/Agilidad">
                                    <img src="./././assets/imagenes/agilidad.png"  alt="agilidad-mental">
                                </a>
                        </div>        
                    </div>
                    <div class="col">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Agilidad Aritmetica</h3>
                            <p>calcula rapidamente la operacion dada</p>
                        </div>
                     </div>
              </div>
                
           </div>
             <div class="carousel-item active ">
                    <div class="row">
                            <div class="col">
                                <div class="card" style="width: 16rem;">
                                        <a routerLink="/Juegos/Memoria">
                                            <img src="./././assets/imagenes/memoria.png"  alt="Memoria">
                                        </a>
                                </div>  
                            </div>    
                            <div class="col">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>Memoria</h3>
                                    <p>El consiste en memorizar un numero rapidamente</p>
                                </div>
                            </div>  
                      </div>
                        
            </div>
            <div class="carousel-item ">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 16rem;">
                                    <a routerLink="/Juegos/PiedraPapelTijera">
                                        <img src="./assets/imagenes/PiedraPapelTijera.png"  alt="piedra-papel-tijera">
                                    </a>   
                             </div>      
                        </div>
                        <div class="col">  
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>Piedra Papel y Tijera</h3>
                                    <p>Clasico juego donde se selecciona una imagen y juega contra la PC</p>
                                </div>
                             </div>
                      </div>
            </div>
         
          <div class="carousel-item">
                <div class="row">
                    <div class="col">
                            <div class="card" style="width: 16rem;">
                                    <a routerLink="/Juegos/Adivina">
                                        <img src="./././assets/imagenes/adivina.png"  alt="adivina-el-numero" >
                                </a>  
                            </div>    
                        </div>    
                        <div class="col">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Adivina</h3>
                                <p>se debe adivinar un numero</p>
                            </div>
                        </div>
                  </div>

          </div>
          <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 16rem;">
                                <a routerLink="/Juegos/Anagrama">
                                    <img src="./././assets/imagenes/anagrama.png"  alt="anagrama">
                               </a>
                         </div>      
                        </div>
                        <div class="col">  
                         <div class="carousel-caption d-none d-md-block">
                              <h3>Anagrama</h3>
                              <p>se escribir un anagrama </p>
                         </div>
                         </div>
                  </div>
           </div>
           <div class="carousel-item">           
                <div class="row">
                    <div class="col">
                            <div class="card" style="width: 16rem;">
                                    <a routerLink="/Juegos/Tateti">
                                        <img  src="./././assets/imagenes/tateti.png"  alt="tateti">
                                        </a>
                            </div>    
                        </div>
                        <div class="col">    
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Tateti</h3>
                                <p>Juega al Tateti contra la PC</p>
                            </div>
                        </div>
                  </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>