
    img{
      float: left;
      width: 6%;
      margin-right: 2em;
  }
  

  .container {
      padding: 50px 16px;
      background-image:''
    }
    
    .container:after{
      content: "";
      display: table;
      clear: both;
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px; /* 5px rounded corners */
      max-width: 250px;
      height: 250px;
      margin: 10px;
      padding-bottom: 10px;
      float: left;
      text-align: center;
    }
    
    img {
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 200px;
    }
    
    .card-title{
      padding: 15px 10px 15px 10px;
      height: 40px;
    }
    
    .card-body{
      padding: 5px;
    }
    
    .btn{
      width: 80%;
      /* position: relative; */
      bottom: 1px;
    }