<div class="container">
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/Agilidad">
            <img src="./././assets/imagenes/agilidad.png" class="card-body" alt="agilidad-mental">
        </a>
    </div>
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/PiedraPapelTijera">
            <img src="./././assets/imagenes/PiedraPapelTijera.png" class="card-body" alt="piedra-papel-tijera">
        </a>     
    </div>
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/Adivina">
        <img src="./././assets/imagenes/adivina.png" class="card-body" alt="adivina-el-numero" >
        </a>
    </div>
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/Memoria">
            <img src="./././assets/imagenes/memoria.png" class="card-body" alt="Memoria">
        </a>
    </div>
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/Anagrama">
        <img src="./././assets/imagenes/anagrama.png" class="card-body" alt="anagrama">
        </a>
    </div>
    <div class="card" style="width: 16rem;">
        <a routerLink="/Juegos/Tateti">
        <img src="./././assets/imagenes/tateti.png" class="card-body" alt="tateti">
        </a>
    </div>
  </div>