<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Juego</th>
        <th scope="col">Jugador</th>
        <th scope="col">Resultado</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of resultados">
        <td >{{juego.juego}} </td>
        <td >{{juego.nombre}} </td> 
        <td >{{juego.puntaje}} </td>   
        <td >{{juego.fecha}} </td>     
      </tr>
     
    </tbody>
  </table>